<h1>New patient registered</h1>
Patient name: {{ patient.name }}<br />
Patient email: {{ patient.email }}<br />
Patient phone: {{ patient.phone }}<br />
<br />
{{ patient.name }} registered with ID {{ patient.id }}.
